.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {

}

.Header {

}

.Current {

}

.big-temp {
  font-size: 3em;
  padding-top: 30px;
  padding-bottom: 30px;
}

.big-temp-icon {

}

.Details {

}

.Camera {

}

.Forecast {

}
