.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {

}

.Header {

}

.Current {

}

.temp {
  padding-top: 10;
  padding-bottom: 10;
}

.big-temp {
  font-size: 3em;
  font-weight: bold;
}

.hilo-temp {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.weather {
  font-size: 1em;
  position: relative;
  top: 16px;
}

.sun {
  font-size: 1em;
}

.Details {

}

.Camera {

}

.Forecast {

}
