.App {
  text-align: center;
  background-color: #D9D6CB;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {

}

.Header {
  font-size: 1.3em;
  font-weight: bold;
}

.header-left {
  text-align: left;
}

.header-right {
  text-align: right;
}

.Current {

}

.temp {
  padding-top: 20px;
  padding-bottom: 10px;
}

.big-temp {
  font-size: 4em;
  font-weight: bold;
}

.hilo-temp {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.weather {
  font-size: 1.1em;
  position: relative;
  /* shift down weather icon for centering */
  top: 20px;
  padding: 10px;
}

.weather-text {
  font-size: 1em;
  font-weight: bold;
}

.Details {

}

.sun {
  font-size: 1.1em;
  font-weight: bold;
  text-align: left;
}


.Camera {

}

.Forecast {

}
